{% extends 'layout.html' %}
{% block body %}
{% include 'includes/navbar.html' %}

<div class="container pt-4 pb-4">
    <div class="card card-body mb-3">
        <div>
            <span>Judul:</span>
            {{ obj.title }}
            <span class="text-muted">({{ obj.public_id }})</span>
        </div>
        <div>
            <span>Publisher:</span>
            {{ obj.publisher }}
        </div>
        <div>
            <span>Attachment:</span>
            {% if obj.attachment %}
            <a href="{{ url_for('admin.announcement_read', obj_id=obj.public_id, file=obj.attachment) }}">{{obj.attachment}}</a>
            {% else %}
            No
            {% endif %} 
        </div>
        <div>
            <span>Tgl. Publish:</span>
            {{ obj.date_created }}
        </div>
        <div>
            <span>Tgl. Diperbarui:</span>
            {{ obj.last_updated }}
        </div>
        <div>
            <span>Jumlah Penerima:</span>
            {{ obj.receivers }}
        </div>

        <div class="mt-3">
            <button type="button" class="btn btn-sm btn-link js-btn-update" data-href="{{url_for('admin.announcement_update', obj_id=obj.public_id)}}">
                Edit
            </button>
            <button type="button" class="btn btn-sm btn-link text-danger js-btn-delete" data-href="{{url_for('admin.announcement_delete', obj_id=obj.public_id)}}">
                Hapus
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-header h3">
            {{ obj.title }}
        </div>
        <div class="card-body">
            {{ obj.description|safe }}
        </div>
    </div>
</div>

{% include 'includes/_js_dep.html' %}
{% endblock %}