{% extends 'layout.html' %}
{% block head %}
<style type="text/css">
.container {
    max-width: 400px;
    margin: 0 auto;
}

.logo {
    max-width: 100px;
}
</style>
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="text-center mt-1 mb-3">
        <img src="{{ url_for('static', filename='images/logo_mu.png') }}" class="logo mb-3">
        <h6><b>UNMA Mobile Announcement</b></h6>
    </div>
    <div class="card">
        <div class="text-center mt-3"><h3>Admin Login</h3></div>
        <form method="post" class="card-body">
            {% with messages = get_flashed_messages() %}
            {% for msg in messages %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
            {% endfor %}
            {% endwith %}

            {% from 'includes/_form_helpers.html' import render_field %}
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <button class="btn btn-primary" type="submit">LOGIN</button>
        </form>
    </div>
</div>
{% endblock %}