<div class="card">
    <div class="card-header bg-primary text-white h3">
        {{ form_title }}
    </div>
    <form method="post" id="{{ form_id }}" enctype="multipart/form-data" action="{{ form_action }}" class="form-horizontal">
        <div class="card-body">
            {% from 'includes/_form_helpers.html' import render_field %}
            {{ render_field(form.title) }}
            <div class="form-group">
                {{ form.description.label(class="control-label") }}
                {{ form.description(class="form-control", id="summernote") }}
            </div>
            <div>
                <div class="alert alert-info">Penerima: {{ receiver_summary }}</div>
                <div class="mb-2">Tipe Penerima:</div>
                <ul class="list-inline mb-0">
                {% for sub_field in form.receiver_type %}
                    <li class="list-inline-item">
                        {{ sub_field }}{{ sub_field.label }}
                    </li>
                {% endfor %}
                </ul>

                <div class="mt-1 mb-1">
                    <input type="button" class="btn btn-sm btn-outline-secondary select-all-receiver" value="Pilih Semua">
                    <input type="button" class="btn btn-sm btn-outline-secondary unselect-receiver" value="X">
                </div>

            </div>
            <div id="receiver-container">
                {{ render_field(form.receiver) }}
            </div>
            <div class="alert alert-info">Attachment file: {{ attach_file_name }}</div>
            {{ render_field(form.attachment) }}
        </div>
        <div class="card-footer">
            <img class="img-progress" src="{{ url_for('static', filename='images/progress.gif') }}" width="42" height="42" style="display: none"></img>
            <button type="button" class="btn btn-secondary js-btn-publish-cancel">Batal</button>
            <button type="submit" class="btn btn-primary"><span class="icon-paper-plane"></span> {{btn_primary}}</button>
        </div>
    </form>
</div>

<script type="text/javascript">
$(function() {
    $('.select-all-receiver').click(function() {
        $('#receiver-container option').prop('selected', true);
    });

    $('.unselect-receiver').click(function() {
        $('#receiver-container option').prop('selected', false);
    });

    $('input[type=radio][name=receiver_type]').change(function() {
        var url = "{{ url_for('admin.announcement_create') }}" + "?receiver_type=" + this.value
        $.ajax({
            url: url,
            type: 'get',
            dataType: 'json',
            beforeSend: function() {
                $('#receiver-container').prepend("<div>Loading data...</div>")
            },
            success: function(data) {
                $('#receiver-container').html(data.html_extra)
            }
        })
    });


    $('#summernote').summernote({
        maximumImageFileSize: 5 * 1024 * 1024,
        height: 280,
        lang: 'id-ID',
        toolbar: [
            ['style', ['style', 'bold', 'italic', 'underline']],
            ['font', ['fontname', 'fontsize']],
            ['fontcolor', ['color']],
            ['paragraph', ['ol', 'ul', 'paragraph', 'height']],
            ['insert', ['table', 'picture', 'hr']]
        ]
    });

    $('.js-btn-publish-cancel').click(function(event) {
        $('#formContainerUpdate.collapse').collapse('hide')
    });
})

</script>