<div class="modal-header">
    <h4 class="modal-title">{{form_title}}</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<form method="post" id="{{ form_id }}" action="{{ form_action }}" class="form-horizontal">
    <div class="modal-body">
        {% from 'includes/_form_helpers.html' import render_field %}
        {{ render_field(form.name) }}

        
        <div class="form-group {{ 'has-danger' if form.std_class.errors }}">
            {{ form.std_class.label(class="form-control-label") }}
            <div class="form-inline">
                {{ form.std_class(class="custom-select") }}

                <div class="input-group">
                    <span class="input-group-addon">
                        Filter
                    </span>
                    {{ form.department(class="custom-select") }}
                </div>
            </div>
        </div>
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
    </div>
    <div class="modal-footer">
        <img class="img-progress" src="{{ url_for('static', filename='images/progress.gif') }}" width="42" height="42" style="display: none"></img>
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-primary ">{{btn_primary}}</button>
    </div>
</form>
<script type="text/javascript">
classes = [
    {% for cls in classes %}
    {
        id: "{{ cls.id }}",
        dept_id: "{{ cls.department_id }}",
        string: "{{ cls }}"
    }{{ "," if not loop.last }}
    {% endfor %}
];

function template(cls_obj) {
    return `<option value="` + cls_obj.id + `">` + cls_obj.string + `</option>`;
}

function bindClassesToHtml(department_filter) {
    var html;
    for (i = 0; i < classes.length; i++) {
        cls = classes[i];
        if (department_filter == 0 || department_filter == cls.dept_id)
            html += template(cls);
    }

    $('#std_class').html(html);
}

bindClassesToHtml(0);
$('#department').on('change', function() {
    var selection = $('#department').val();
    bindClassesToHtml(selection);
});

</script>